$header-height: 3rem;
$font-bold: 700;

:root {
  --first-color: #4e1116;
  --black-color: #000;
  --white-color: #fff;
}

:root {
  --body-font: 'Poppins', sans-serif;
  --h1-font-size: 2.5rem;
  --h2-font-size: 1rem;
  --normal-font-size: 0.93rem;
  --small-font-size: 0.81rem;

  @media screen and (min-width: 768px) {
    --h1-font-size: 4.5rem;
    --h2-font-size: 2rem;
    --normal-font-size: 1rem;
    --small-font-size: 1.37rem;
  }
}

:root {
  --z-back: -10;
  --z-normal: 1;
  --z-tooltip: 10;
  --z-fixed: 100;
  --z-modal: 1000;
}

*,
::before,
::after {
  box-sizing: border-box;
}

body {
  margin: $header-height 0 0 0;
  font-family: var(--body-font);
  background-color: var(--black-color);
  color: var(--white-color);
  font-weight: $font-bold;
  overflow: hidden;
}

h1,
h2 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.bd-grid {
  max-width: 1200px;
  margin-left: 1rem;
  margin-right: 1rem;
}
